@charset "UTF-8";
body {
  background-color: #FFF7E8;
  line-height: 2em;
  letter-spacing: 0.2rem;
}

.bg-logo {
  position: fixed;
  width: 80px;
  opacity: 0.25;
  pointer-events: none;
  z-index: -1;
}

img {
  vertical-align: bottom;
}

.subtitle {
  color: #A98058;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.aboutsubtitle {
  text-align: center;
  padding-top: 200px;
  position: relative;
}
.aboutsubtitle::after {
  content: "私たちについて";
  position: absolute;
  display: block;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

.about {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  padding: 10% 15%;
  color: #3A2C22;
  align-items: center;
}
.about_text span {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.about_text span img {
  scale: 0.8;
  rotate: -25deg;
}
.about_text_slogan {
  font-size: 25px;
  margin: 70px 0;
  position: relative;
}
.about_text_slogan::after {
  content: "";
  display: block;
  max-width: 600px;
  width: 180%;
  height: 1px;
  background-color: #b58b67;
  position: absolute;
  left: -80%;
  top: 130%;
}
.about_text_description {
  font-size: 16px;
  margin-top: 30px;
}
.about_photo {
  margin-top: 150px;
  padding: 2%;
  border: solid 1px #A98058;
}

@media (max-width: 700px) {
  .btn {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1000px) {
  .about {
    padding: 10%;
  }
}
@media (max-width: 800px) {
  .about_photo {
    margin-top: 30px;
  }
  .about_text_slogan {
    font-size: 20px;
  }
  .about_text_description {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .about {
    grid-template-columns: 1fr;
    height: auto;
  }
  .about_photo {
    background: none;
  }
  .about_text_slogan {
    font-size: 30px;
  }
  .about_text_description {
    font-size: 19px;
  }
}
@media (max-width: 470px) {
  .about {
    height: auto;
  }
  .about_text_slogan {
    font-size: 20px;
  }
  .about_text_description {
    font-size: 12px;
  }
}
.twoabout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 200px;
  font-size: 14px;
}
.twoabout_photo {
  position: relative;
  padding-right: 100px;
}
.twoabout_photo h2 {
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 500px;
}
.twoabout_photo_1 {
  position: absolute;
  top: 0;
  left: 50px;
  width: 70%;
}
.twoabout_photo_2 {
  width: 60%;
  position: absolute;
  top: 200px;
  right: 0px;
}
.twoabout_text {
  max-width: 470px;
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 4%;
}
.twoabout_text span {
  display: grid;
  grid-template-columns: 7fr 1fr;
}
.twoabout_text span img {
  rotate: 25deg;
}
.twoabout_text h2 {
  font-size: 20px;
}
.twoabout_text p {
  margin-top: 30px;
}

@media (max-width: 1000px) {
  .twoabout {
    grid-template-columns: 1fr;
  }
  .twoabout_photo {
    order: 1;
    margin-top: 60px;
  }
  .twoabout_photo h2 {
    display: block;
    margin: 0 auto;
  }
}
.owner {
  height: 70vh;
  position: relative;
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  display: block;
  margin: 0 auto;
}
.owner_img {
  display: none;
}
.owner_text {
  background: url(../images/illust1.png) no-repeat right bottom/50%;
}
.owner_text_title {
  font-size: 40px;
  font-weight: bold;
  color: #A98058;
  margin-top: 100px;
  text-align: center;
  line-height: 3rem;
}
.owner_text_name {
  position: relative;
  font-size: 45px;
  color: #000;
  z-index: 999;
  margin: 50px 0;
  width: 400px;
}
.owner_text_name::before {
  content: "Miyazaki　　Ayano";
  display: block;
  font-size: 20px;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 5px;
}
.owner_text_name::after {
  content: "トリマー / 歴２年";
  display: block;
  text-align: left;
  font-size: 15px;
  color: #A98058;
  margin-top: 20px;
}
.owner_text_maintext {
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
  margin: 50px 0;
}

@media (max-width: 1200px) {
  .owner_img {
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 400px;
  }
  .owner_text {
    background: none;
    margin: 0 auto;
    width: 400px;
  }
  .owner_text_name {
    margin: 50px auto;
  }
  .owner_text_maintext {
    margin: 50px auto;
  }
  .owner_text .subtitle {
    text-align: center;
    margin-bottom: 100px;
  }
}
@media (max-width: 750px) {
  .owner {
    width: 60%;
  }
  .owner_img {
    display: block;
    margin: 30px 0;
    text-align: center;
    width: 300px;
  }
  .owner_text {
    background: none;
  }
  .owner_text_name {
    font-size: 40px;
    width: 400px;
    margin: 50px 0;
  }
  .owner_text_name::before {
    margin-bottom: 10px;
  }
  .owner_text_maintext {
    font-size: 12px;
    margin: 50px 0;
    width: 400px;
  }
}
@media (max-width: 600px) {
  .owner {
    width: 50%;
  }
  .owner_text {
    width: 300px;
  }
  .owner_text_name {
    font-size: 30px;
    width: 300px;
  }
  .owner_text_maintext {
    width: 300px;
  }
}
.other {
  height: 60vh;
  width: 70%;
  max-width: 1000px;
  margin: 50px auto 0;
  display: flex;
  -moz-column-gap: 10%;
       column-gap: 10%;
  justify-content: center;
  text-align: center;
}
.other_subtitle {
  position: relative;
}
.other_subtitle::after {
  content: "ご協力いただいた皆様";
  position: absolute;
  display: block;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}
.other_designer {
  min-width: 200px;
  width: 60%;
}
.other_designer h1 {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}
.other_designer h1::after {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  background-color: rgba(255, 247, 232, 0.8);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.other_designer h1 img {
  scale: 0.8;
}
.other_designer_name {
  font-size: 30px;
  position: relative;
  padding: 20px;
  z-index: 99;
}
.other_designer_name::after {
  content: "デザイナー / 歴２年";
  display: block;
  position: absolute;
  font-size: 12px;
  bottom: -15px;
  right: 30px;
}
.other_camera {
  min-width: 200px;
  width: 60%;
}
.other_camera h1 {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}
.other_camera h1::after {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  background-color: rgba(255, 247, 232, 0.8);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.other_camera_name {
  font-size: 30px;
  position: relative;
  padding: 20px;
  z-index: 99;
}
.other_camera_name::after {
  content: "デザイナー / 歴２年";
  display: block;
  position: absolute;
  font-size: 12px;
  bottom: -15px;
  right: 30px;
}

@media (max-width: 1200px) {
  .other_subtitle {
    margin-top: 300px;
  }
}
@media (max-width: 750px) {
  .other {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .other_designer h1 {
    width: 200px;
    height: 200px;
  }
  .other_designer_name {
    font-size: 16px;
  }
  .other_designer::after {
    font-size: 10px;
  }
  .other_camera h1 {
    width: 200px;
    height: 200px;
  }
  .other_camera_name {
    font-size: 16px;
  }
  .other_camera::after {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .other {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin-bottom: 300px;
  }
  .other_designer {
    margin: 0 auto;
  }
  .other_camera {
    margin: 0 auto;
  }
}
.goods {
  max-width: 1200px;
  width: 80%;
  margin: 100px auto;
  padding-left: 3%;
}
.goods_title {
  font-size: 40px;
  font-weight: bold;
  color: #A98058;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}
.goods_title::after {
  content: "グッズ";
  position: absolute;
  display: block;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}
.goods_column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: right;
}
.goods_item {
  justify-self: center;
}
.goods img {
  width: 200px;
  height: 200px;
}
.goods_name {
  margin-top: 20px;
}
.goods_notice {
  text-align: center;
  margin-top: 30px;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  .goods {
    margin-top: 100px;
  }
  .goods_notice {
    font-size: 12px;
  }
  .goods_column {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .goods_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .goods_item img {
    order: 1;
  }
  .goods_item span {
    align-self: end;
  }
}
.events {
  max-width: 1200px;
  width: 80%;
  margin: 150px auto;
  padding-left: 3%;
  line-height: 1;
}
.events_title {
  font-size: 40px;
  font-weight: bold;
  color: #A98058;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}
.events_title::after {
  content: "イベント";
  position: absolute;
  display: block;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}
.events_item {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 50px;
}
.events_item_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* 下に寄せる */
}
.events_time {
  font-size: 14px;
  margin-bottom: 1%;
}
.events_subtitle {
  font-weight: bold;
  margin: 2% 0;
}
.events_subtext {
  font-size: 14px;
}
.events img {
  width: 400px;
  height: 200px;
}

@media (max-width: 600px) {
  .events_time {
    font-size: 12px;
  }
  .events_subtitle {
    font-size: 16px;
  }
  .events_subtext {
    font-size: 12px;
  }
}
.access {
  padding: 10% 6% 10% 10%;
}
.access_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40vh;
  margin-top: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.access_main_bullet {
  padding: 5% 0;
  margin: 0 auto;
}
.access_main_bullet span {
  display: grid;
  grid-template-columns: 1fr 10fr;
  margin-top: 20px;
}
.access_title {
  text-align: center;
  position: relative;
}
.access_title::after {
  content: "アクセス";
  position: absolute;
  display: block;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}
.access_map {
  margin: 0 auto;
}
.access_map_logo {
  display: grid;
  row-gap: 30px;
}
.access_map_text {
  display: grid;
  row-gap: 45px;
  margin: 5px 10px;
}
.access_map_link {
  margin: 40px auto;
  text-align: center;
  position: relative;
  display: block;
  width: 150px;
  padding: 15px 15px 10px 0;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
  /* // ロゴ */
}
.access_map_link::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 10px;
  right: -5px;
  background: url("../images/leg.png") center/contain no-repeat;
  opacity: 0;
  rotate: 45deg;
  transform: scale(0) rotate(-20deg);
  transition: 0.4s cubic-bezier(0.2, 1.4, 0.4, 1);
}
.access_map_link:hover {
  color: #ECB880;
}
.access_map_link:hover::before {
  opacity: 1;
  transform: scale(1);
}
.access_map_link:hover::after {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

@media (max-width: 1000px) {
  .access {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    font-size: 11px;
  }
  .access_main {
    grid-template-columns: 1fr;
  }
  .access_main_bullet {
    padding: 2%;
  }
  .access_map h2 {
    text-align: center;
    width: 390px;
    padding: 4%;
    box-sizing: border-box;
  }
}
@media (max-width: 600px) {
  .access {
    width: 100%;
    max-width: 390px;
    box-sizing: border-box;
  }
}
@media (max-width: 1000px) {
  .footer {
    margin-top: 60vh;
  }
}
.current {
  color: #ECB880;
}
.current::before {
  content: "お店について";
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  letter-spacing: 1px;
  opacity: 1;
  color: #ECB880;
}
.current:hover::before {
  -webkit-animation: none;
          animation: none;
}
/*# sourceMappingURL=aboutshop.css.map */