body {
  background-color: #FFF7E8;
  line-height: 2em;
  letter-spacing: 0.2rem;
}

.bg-logo {
  position: fixed;
  width: 80px;
  opacity: 0.25;
  pointer-events: none;
  z-index: -1;
}

.subtitle {
  color: #A98058;
  font-weight: bold;
  font-size: 40px;
}

img {
  vertical-align: bottom;
}

.loading {
  position: fixed;
  inset: 0;
  background: #FFF2D4;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading_logo {
  scale: 0.6;
  opacity: 0;
}

.topbackground {
  background-color: rgb(255, 247, 232);
}

.mainvisual {
  position: relative;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}
.mainvisual_top {
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 60vh;
}
.mainvisual_top_img {
  background: url(../images/mainvisual.jpg) no-repeat center center/cover;
  margin: 10%;
}
.mainvisual_top_logo {
  margin: 40% 10% 30% 30%;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainvisual_top_logo h1 {
  scale: 0.9;
}
.mainvisual_bottom {
  height: 50vh;
  display: grid;
}
.mainvisual_bottom_shopname {
  margin: 30%;
  font-size: 20px;
  color: #2d1d16;
  position: relative;
}
.mainvisual_bottom_img {
  background: url(../images/mainivisual2.jpg) no-repeat center center/cover;
  margin: 0% 15% 15% 5%;
}

.about {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  padding: 10% 15%;
  color: #3A2C22;
  align-items: center;
}
.about_text span {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.about_text span img {
  scale: 0.8;
  rotate: -25deg;
}
.about_text_slogan {
  font-size: 25px;
  margin: 70px 0;
  position: relative;
}
.about_text_slogan::after {
  content: "";
  display: block;
  max-width: 600px;
  width: 180%;
  height: 1px;
  background-color: #b58b67;
  position: absolute;
  left: -80%;
  top: 130%;
}
.about_text_description {
  font-size: 16px;
  margin-top: 30px;
}
.about_photo {
  margin-top: 150px;
  padding: 2%;
  border: solid 1px #A98058;
}
.about a {
  text-align: center;
}

@media (max-width: 1000px) {
  .about {
    padding: 10%;
  }
}
@media (max-width: 800px) {
  .about_photo {
    margin-top: 30px;
  }
  .about_text_slogan {
    font-size: 20px;
  }
  .about_text_description {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .about {
    grid-template-columns: 1fr;
    height: auto;
  }
  .about_photo {
    background: none;
  }
  .about_text_slogan {
    font-size: 30px;
  }
  .about_text_description {
    font-size: 19px;
  }
}
@media (max-width: 470px) {
  .about {
    height: auto;
  }
  .about_text_slogan {
    font-size: 20px;
  }
  .about_text_description {
    font-size: 12px;
  }
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 200px;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.menu_photo {
  margin: 3% 0 3% 8%;
  max-height: 450px;
  align-self: center;
}
.menu_text {
  max-width: 350px;
}
.menu_text a {
  max-width: 50px;
}
.menu .subtitle {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 700px) {
  .menu {
    grid-template-columns: 1fr;
    padding: 0 10%;
    row-gap: 40px;
  }
  .menu_photo {
    order: 1;
    justify-self: center;
    margin: 0;
  }
  .menu_text {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
  }
}
.instagram {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 200px;
}
.instagram_title {
  font-size: 40px;
  font-weight: bold;
  color: #A98058;
  margin-top: 10vh;
  text-align: center;
  letter-spacing: 0.2rem;
}
.instagram_photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 20px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}
.instagram_photo_item img {
  width: 200px;
  height: 250px;
}
.instagram .btn {
  display: flex;
  width: 300px;
  margin: 50px auto 0;
}

@media (max-width: 900px) {
  .instagram_photo {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .instagram_photo {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .instagram_photo_item img {
    width: 150px;
    height: 200px;
  }
}
.header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}
/*# sourceMappingURL=style.css.map */