body {
    background-color: #FFF7E8;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2d1d16;
    line-height: 2em;
    letter-spacing: 0.2rem;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 2%;
}

.bg-logo {
    /* ///背景のたくさんのイラスト */
    position: fixed;
    width: 80px;
    opacity: 0.25;
    pointer-events: none;
    z-index: -1;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

.subtitle {
    color: #A98058;
    font-weight: bold;
    font-size: 40px;
}


.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    margin-top: 50px;
    z-index: 9995;
    overflow: hidden;

    &_text {
        color: #2d1d16;
    }

    &_line {
        position: absolute;
        background: #2d1d16;
        transition: .4s ease;
    }

    &_top {
        width: 150px;
        height: 1px;
        top: 20px;
        left: 20px;
    }

    &_right {
        width: 1px;
        height: 40px;
        bottom: 0;
        right: 40px;
    }

    &_bottom {
        width: 150px;
        height: 1px;
        bottom: 20px;
        right: 20px;
    }

    &_left {
        width: 1px;
        height: 40px;
        top: 0;
        left: 40px;
    }
}

.btn:hover .btn_top {
    transform: translateX(20px);
    width: 220px;
}

.btn:hover .btn_left {
    transform: translateY(20px);
    height: 60px
}

.btn:hover .btn_bottom {
    transform: translateX(-20px);
    width: 220px;
}

.btn:hover .btn_right {
    transform: translateY(-20px);
    height: 60px;
}


/* //__________________________footer共有CSS__________________________ */

.footer {
    max-width: 1500px;
    width: 80%;
    margin: 100px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 1.5rem;
    position: relative;

    &_logo {
        padding: 0 10%;

        img {
            scale: calc(0.5);
        }
    }

    &_menu {
        padding: 0 20%;
        position: relative;

        ul {
            display: grid;
            row-gap: 30px;

            li {
                text-align: center;
            }
        }

        &::before {
            content: "";
            display: block;
            max-height: 300px;
            height: 100%;
            width: 1px;
            border: solid 0.5px #A98058;
            position: absolute;
            left: 0;
            top: 0px;
        }

        &::after {
            content: "";
            display: block;
            max-height: 300px;
            height: 100%;
            width: 1px;
            border: solid 0.5px #A98058;
            position: absolute;
            right: 10%;
            top: 0px;
        }
    }

    &_other {
        padding: 0 10%;

        p {
            margin: 20px 0;
        }

        &_link {
            display: flex;
            column-gap: 10px;
            margin: 20px 0;

            a::after {
                content: "";
                display: none;
            }
        }
    }

    &_animal {
        font-size: 14px;
        font-weight: bold;
    }

    &_copy {
        color: #A98058;
        text-align: center;
        margin: 40px 0;
    }


    //ホバーアニメーション
    a {
        position: relative;
        display: inline-block;
        padding: 15px 15px 10px 0;
        text-decoration: none;
        transition: color .3s;

        // /* // ボーダー */
        // &::before {
        //     content: "";
        //     position: absolute;
        //     inset: -8px;
        //     border-bottom: 2px solid #ECB880;

        //     transform: scale(.8);
        //     opacity: 0;

        //     transition: .4s cubic-bezier(.2, 1.4, .4, 1);
        // }

        /* // ロゴ */
        &::after {
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            top: 0;
            right: -15px;
            background: url("../images/leg.png") center / contain no-repeat;
            opacity: 0;
            rotate: 45deg;
            transform: scale(0) rotate(-20deg);
            transition: .4s cubic-bezier(.2, 1.4, .4, 1);
        }

        &:hover {
            color: #ECB880;

            &::before {
                opacity: 1;
                transform: scale(1);
            }

            &::after {
                opacity: 1;
                transform: scale(1) rotate(0deg);
            }
        }
    }
}

// 第一種動物取扱登録情報のやつ
.animal_modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);

    opacity: 0;
    visibility: hidden;
    transition: .3s;

    z-index: 9999;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &_content {
        max-width: 90%;
        max-height: 90%;
        transform: scale(.9);
        transition: .3s;

        img {
            display: block;
            max-width: 100%;
            max-height: 90vh;
            border-radius: 10px;
        }
    }

    &.active &_content {
        transform: scale(1);
    }
}

@media(max-width:900px) {
    .footer {
        grid-template-columns: 1fr;

        row-gap: 40px;

        &_logo {
            h2 {
                max-height: 400px;
                text-align: center;

                img {
                    scale: 0.4;
                }
            }
        }

        &_menu {
            ul {
                grid-template-columns: 1fr 1fr;
            }

            &::after {
                top: -40px;
                width: 100%;
                min-width: 300px;
                height: 1px;
                right: 50%;
                transform: translateX(50%);
            }

            &::before {
                top: 160px;
                width: 100%;
                min-width: 300px;
                height: 1px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

}

/* //_________________________________humbarger__________________________________ */

.hamburger {
    width: 50px;
    cursor: pointer;
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 30px;
    top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 12px;


    span {
        width: 50px;
        height: 2px;
        background: #b58b67;
        transition: all .4s ease;

    }

    p {
        font-size: 20px;
        color: #b58b67;
    }
}

/* 上の線 */
.hamburger.active span:nth-child(1) {
    transform:
        translateY(14px) rotate(45deg);
}

/* 真ん中の線 */
.hamburger.active span:nth-child(2) {
    transform: translateX(100px);
}

/* 下の線 */
.hamburger.active span:nth-child(3) {
    transform:
        translateY(-14px) rotate(-45deg);
}

@media(max-width:2000px) {
    .hamburger {
        display: none;
    }
}

@media(max-width:700px) {
    .hamburger {
        display: flex;
    }
}

/* //_______________________________header共有css_____________________________________ */

.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;

    display: grid;
    justify-content: center;
    z-index: 9996;

    h1 {
        width: 60px;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
    }

    li {
        list-style: none;
        position: relative;
    }

    a {
        position: relative;
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        transition: color .3s;
        font-size: 20px;

        /* // ボーダー */


        /* // ロゴ */
        &::after {
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            top: 0;
            right: -15px;
            background: url("../images/leg.png") center / contain no-repeat;
            opacity: 0;
            rotate: 45deg;
            transform: scale(0) rotate(-20deg);
            transition: .4s cubic-bezier(.2, 1.4, .4, 1);
        }

        &:hover {
            color: #ECB880;



            &::after {
                opacity: 1;
                transform: scale(1) rotate(0deg);
            }
        }
    }


    &_top {
        &::before {
            content: "トップ";
            display: block;
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 10px;
            letter-spacing: 1px;
            opacity: 0;
        }

        &:hover::before {
            animation: jap 0.5s ease forwards;
            opacity: 1;
        }
    }

    &_about {
        &::before {
            content: "お店について";
            display: block;
            position: absolute;
            text-align: center;
            width: 100px;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 10px;
            letter-spacing: 1px;
            opacity: 0;
        }

        &:hover::before {
            animation: jap 0.5s ease forwards;
            opacity: 1;
        }
    }

    &_menu {
        &::before {
            content: "メニュー";
            display: block;
            position: absolute;
            text-align: center;
            width: 100px;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 10px;
            letter-spacing: 1px;
            opacity: 0;
        }

        &:hover::before {
            animation: jap 0.5s ease forwards;
            opacity: 1;
        }
    }

    &_reservation {
        &::before {
            content: "予約について";
            display: block;
            position: absolute;
            text-align: center;
            width: 100px;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 10px;
            letter-spacing: 1px;
            opacity: 0;
        }

        &:hover::before {
            animation: jap 0.5s ease forwards;
            opacity: 1;
        }
    }

    &_gallery {
        &::before {
            content: "フォトギャラリー";
            display: block;
            position: absolute;
            text-align: center;
            width: 100px;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 10px;
            letter-spacing: 1px;
            opacity: 0;
        }

        &:hover::before {
            animation: jap 0.5s ease forwards;
            opacity: 1;
        }
    }
}

@keyframes jap {
    0% {
        opacity: 0;
        bottom: 0px;
    }

    100% {
        opacity: 1;
        bottom: -15px;
    }
}

@media(max-width:700px) {
    .header {
        display: none;
    }
}

//__________________ラインと電話の誘導_____________
.floating {
    position: fixed;

    top: 100px;
    right: 0px;
    z-index: 9997;
    display: grid;
    grid-template-columns: 1fr;

    &_line {
        height: 50px;
        width: 50px;
        border: solid 1px #A98058;
    }

    &_insta {
        height: 50px;
        width: 50px;
        border: solid 1px #A98058;
        border-top: none;
    }
}






.drawer {
    position: fixed;
    top: 0;
    right: -120%;
    width: 350px;
    height: 50vh;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: .5s ease;
    z-index: 9998;
    display: flex;
    justify-content: left;
    align-items: center;



    ul {
        list-style: none;
        text-align: center;
        margin-left: 30px;
        display: grid;
        row-gap: 30px;
    }

    li {
        position: relative;
        width: fit-content;
        position: relative;
    }

    &_top {
        &::before {
            content: "ートップ";
            display: block;
            position: absolute;
            bottom: 0;
            right: -80px;
            font-size: 12px;
        }
    }

    &_about {
        &::before {
            content: "ーお店について";
            display: block;
            position: absolute;
            bottom: 0;
            right: -130px;
            font-size: 12px;
        }
    }

    &_menu {
        &::before {
            content: "ーメニュー";
            display: block;
            position: absolute;
            bottom: 0;
            right: -80px;
            font-size: 12px;
        }
    }

    &_reservation {
        &::before {
            content: "ー予約について";
            display: block;
            position: absolute;
            bottom: 0;
            right: -120px;
            font-size: 12px;
        }
    }

    &_gallery {
        &::before {
            content: "ーフォトギャラリー";
            display: block;
            position: absolute;
            bottom: 0;
            right: -150px;
            font-size: 12px;
        }
    }

    a {
        text-decoration: none;
        font-size: 24px;
        transition: color 0.3s;

        &:hover {
            color: #ECB880;
        }
    }
}

.drawer.active {
    right: 0;
}








.banner {
    padding: 15%;

    h2 {
        text-align: center;

        &:hover {
            animation: hover 1s;
            scale: calc(0.95);
        }
    }

    @keyframes hover {
        0% {
            transform: scale(1);
        }

        30% {
            transform: scale(0.95);
        }

    }
}

@media(max-width:1500px) {
    .banner {
        padding: 5% 30%;
    }
}

@media(max-width:900px) {
    .banner {
        padding: 5% 20%;
    }
}

@media(max-width:700px) {
    .banner {
        margin-top: 50px;
        padding: 5% 15%;
    }
}

.current2 {
    color: #ECB880;
}