//______________________共有CSS__________________________
body {
    background-color: #FFF7E8;
    line-height: 2em;
    letter-spacing: 0.2rem;
}

.bg-logo {
    ///背景のたくさんのイラスト
    position: fixed;
    width: 80px;
    opacity: 0.25;
    pointer-events: none;
    z-index: -1;
}

img {
    vertical-align: bottom;
}

.subtitle {
    color: #A98058;
    font-weight: bold;
    font-size: 40px;
}

//__________________________About___________________________________________
.aboutsubtitle {
    text-align: center;
    padding-top: 200px;
}

.about {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    padding: 10% 15%;
    color: #3A2C22;
    align-items: center;

    &_text {
        span {
            //その子に寄り添う、 貸し切りトリミング。　タイトルの部分
            display: grid;
            grid-template-columns: 1fr 5fr;
            align-items: center;
            column-gap: 20px;

            img {
                //タイトルの左隣にある肉球の画像
                scale: calc(0.8);
                rotate: calc(-25deg);

            }
        }

        &_slogan {
            //その子に寄り添う、貸し切りトリミング
            font-size: 25px;
            margin: 70px 0;
            position: relative;

            &::after {
                //タイトルの下にあるボーダー
                content: "";
                display: block;
                max-width: 600px;
                width: 180%;
                height: 1px;
                background-color: #b58b67;

                position: absolute;
                left: -80%;
                top: 130%;
            }

        }

        &_description {
            //一組ずつ丁寧に向き合うことで、 お客様一人ひとりのお悩みや理想に 寄り添った施術をご提供しています。 落ち着いた空間と心地よい時間の中で、 特別なひとときをお楽しみください。 大型サロンは少し緊張してしまう 自分だけの空間でゆっくり過ごしたい
            font-size: 16px;
            margin-top: 30px;
        }
    }

    &_photo {
        //右側の画像
        margin-top: 150px;
        padding: 2%;
        border: solid 1px #A98058;

    }
}


@media (max-width: 700px) {
    .btn {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}



@media (max-width: 1000px) {
    .about {
        padding: 10%;
    }
}

@media (max-width: 800px) {
    .about {
        &_photo {
            margin-top: 30px;
        }

        &_text {
            &_slogan {
                font-size: 20px;
            }

            &_description {
                font-size: 12px
            }
        }
    }
}

@media (max-width: 700px) {
    .about {
        grid-template-columns: 1fr;
        height: auto;

        &_photo {
            background: none;
        }

        &_text {
            &_slogan {
                font-size: 30px;
            }

            &_description {
                font-size: 19px
            }
        }
    }
}


@media (max-width: 470px) {
    .about {
        height: auto;

        &_text {
            &_slogan {
                font-size: 20px;
            }

            &_description {
                font-size: 12px
            }
        }
    }
}


//____________________twoabout___________________

.twoabout {
    //_________Aboutの二つ目の部分
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
    font-size: 14px;

    &_photo {
        //左側の写真部分
        position: relative;
        padding-right: 100px;

        h2 {
            position: relative;
            max-width: 500px;
            width: 100%;
            height: 500px;
        }



        &_1 {
            position: absolute;
            top: 0;
            left: 50px;
            width: 70%;
        }

        &_2 {
            width: 60%;
            position: absolute;
            top: 200px;
            right: 0px;
        }
    }


    &_text {
        //＿＿＿＿＿右側のテキストの部分
        max-width: 470px;
        width: 100%;
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 4%;

        span {
            //_______わんちゃんとの暮らしを、 もっと楽しく、もっと特別に。
            display: grid;
            grid-template-columns: 7fr 1fr;

            img {
                //________タイトルの右側の肉球画像
                rotate: calc(25deg);
            }
        }

        h2 {
            font-size: 20px; //________タイトルの文字

            // &::after {
            //     ////___タイトルの下のボーダー
            //     content: "";
            //     display: block;
            //     width: 50vw;
            //     height: 1px;
            //     background-color: #b58b67;

            //     position: absolute;
            //     top: 19%;
            //     left: 0;
            // }
        }

        p {
            //_____________本文________
            margin-top: 30px
        }
    }
}

@media (max-width:1000px) {
    .twoabout {
        grid-template-columns: 1fr;

        &_photo {
            order: 1;
            margin-top: 60px;

            h2 {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

//_____________________________＿＿＿＿＿＿＿＿＿__オーナー__________________________＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
.owner {
    height: 70vh; //高さ指定
    position: relative;
    width: 80%;
    max-width: 1000px;
    min-width: 300px;
    display: block;
    margin: 0 auto;

    &_img {
        display: none;
    }

    &_text {
        //________左側のテキストの部分全体
        background: url(../images/illust1.png)no-repeat right bottom/50%; //＿＿＿右側の画像を背景画像にして設置


        &_title {
            //__________Special Thanksの文字
            font-size: 40px;
            font-weight: bold;
            color: #A98058;
            margin-top: 100px;
            text-align: center;
        }

        &_name {
            ////＿＿＿＿＿オーナーさんの名前
            position: relative;
            font-size: 45px;
            color: #000;
            z-index: 999;
            margin-top: 50px;


            &::before {
                ///____________オーナーさんの名前の送り仮名
                content: "Miyazaki　　Ayano";
                display: block;
                font-size: 20px;
                text-align: left;
                margin-bottom: 30px;
                margin-left: 5px;
            }

            &::after {
                // ＿＿＿＿＿＿＿＿＿オーナーさんの右下の経歴部分
                content: "トリマー / 歴２年";
                display: block;
                text-align: left;
                font-size: 15px;
                color: #A98058;
                margin-top: 20px;
            }
        }

        &_maintext {
            //______________オーナーさんについての本文
            max-width: 500px;
            width: 100%;
            margin-top: 50px;
        }
    }
}

@media(max-width:1200px) {
    .owner {
        &_img {
            display: block;
            margin: 30px 0;
            text-align: center;
        }

        &_text {
            background: none;
            margin: 0 auto;

            .subtitle {
                text-align: center;
                margin-bottom: 100px;
            }
        }

    }
}

@media(max-width:750px) {
    .owner {
        width: 60%;

        &_img {
            display: block;
            margin: 30px 0;
            text-align: center;
        }

        &_text {
            background: none;

            &_name {
                font-size: 40px;

                &::before {
                    margin-bottom: 10px;
                }
            }

            &_maintext {
                font-size: 12px;
            }
        }


    }
}

@media(max-width:600px) {
    .owner {
        width: 50%;

        &_text {
            &_name {
                font-size: 30px;
            }
        }
    }
}


.other {
    //_________その他、カメラマン、デザイナーの部分
    height: 60vh;
    width: 70%;
    max-width: 1000px;
    margin: 50px auto 0;
    display: flex;
    column-gap: 10%;
    justify-content: center;
    text-align: center;

    &_designer {
        min-width: 200px;

        //////______________デザイナー
        &_name {
            font-size: 30px;
            position: relative;
            padding: 20px;


            &::after {
                //__________経歴部分
                content: "デザイナー / 歴２年";
                display: block;
                position: absolute;
                font-size: 12px;

                bottom: -15px;
                right: 30px;
            }
        }


    }

    &_camera {
        min-width: 200px;

        //_____________カメラマン
        &_name {
            font-size: 30px;
            position: relative;
            padding: 20px;

            &::after {
                ///_____________経歴部分
                content: "デザイナー / 歴２年";
                display: block;
                position: absolute;
                font-size: 12px;

                bottom: -15px;
                right: 30px;
            }
        }

    }
}

@media(max-width:1200px) {
    .other {
        margin-top: 600px;
    }
}

@media(max-width:750px) {
    .other {
        column-gap: 0;

        &_designer {
            &_name {
                font-size: 16px;
            }

            &::after {
                font-size: 10px;
            }
        }

        &_camera {
            &_name {
                font-size: 16px;
            }

            &::after {
                font-size: 10px;
            }
        }
    }
}

@media(max-width:600px) {
    .other {
        margin-top: 300px;
    }
}

//＿＿＿＿＿＿＿＿＿＿＿＿＿＿グッズ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
.goods {
    max-width: 1200px;
    width: 80%;
    margin: 200px auto;
    padding-left: 3%;

    &_title {
        //______Goods
        font-size: 40px;
        font-weight: bold;
        color: #A98058;
        margin-bottom: 50px;
        text-align: center;
    }

    &_column {
        //____________中の要素を３つ並べるためための枠
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: right;
    }

    &_item {
        //_______________中のグッズまとまり
        justify-self: center;
    }

    img {
        width: 200px;
        height: 200px;
    }

    &_name {
        ////__________グッズの名前
        margin-top: 20px;
    }

    &_notice {
        text-align: right;
        margin-top: 30px;
        letter-spacing: 1px;
    }
}

@media(max-width:800px) {
    .goods {
        margin-top: 100px;

        &_column {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }

        &_item {
            display: grid;
            grid-template-columns: 1fr 1fr;

            img {
                order: 1;
            }

            span {
                align-self: end;
            }
        }
    }
}

//__________________イベントについて_________________
.events {
    max-width: 1200px;
    width: 80%;
    margin: 150px auto;
    padding-left: 3%;
    line-height: 1;

    &_title {
        //_________Events
        font-size: 40px;
        font-weight: bold;
        color: #A98058;
        margin-bottom: 50px;
        text-align: center;
    }

    &_item {
        ///_______________イベントの１つのまとまり
        display: grid;
        grid-template-columns: 1.5fr 3fr;
        column-gap: 30px;
        margin-top: 50px;


        &_text {
            //_____________右側のイベントのテキストのまとまり
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            /* 下に寄せる */
        }
    }

    &_time {
        //////________________右側の中の更新日のテキスト
        font-size: 14px;
        margin-bottom: 1%;
    }

    &_subtitle {
        //_________________右側の中の内容のタイトル
        font-weight: bold;
        margin: 2% 0;
    }

    &_subtext {
        ///___________________に擬側の中の何をしたのかのテキスト
        font-size: 14px;
    }

    img {
        width: 400px;
        height: 200px;
    }
}

@media(max-width:600px) {
    .events {
        &_time {
            font-size: 12px;
        }

        &_subtitle {
            font-size: 16px;
        }

        &_subtext {
            font-size: 12px;
        }
    }
}


.access {
    padding: 10% 6% 10% 10%;

    &_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 40vh;
        margin-top: 50px;
        column-gap: 50px;

        &_bullet {
            padding: 5% 0;

            span {
                display: grid;
                grid-template-columns: 1fr 10fr;
                margin-top: 20px;
            }
        }
    }

    &_title {
        text-align: center;
    }

    &_map {



        &_logo {
            display: grid;
            row-gap: 30px;
        }

        &_text {
            display: grid;
            row-gap: 45px;
            margin: 5px 10px;
        }

        &_link {
            margin: 0 auto;
            text-align: center;
            position: relative;
            display: block;
            width: 150px;
            padding: 15px 15px 10px 0;
            text-decoration: none;
            transition: color .3s;
            font-size: 16px;

            // /* // ボーダー */
            // &::before {
            //     content: "";
            //     position: absolute;
            //     inset: -8px;
            //     border-bottom: 2px solid #ECB880;

            //     transform: scale(.8);
            //     opacity: 0;

            //     transition: .4s cubic-bezier(.2, 1.4, .4, 1);
            // }

            /* // ロゴ */
            &::after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                top: 10px;
                right: -5px;
                background: url("../images/leg.png") center / contain no-repeat;
                opacity: 0;
                rotate: 45deg;
                transform: scale(0) rotate(-20deg);
                transition: .4s cubic-bezier(.2, 1.4, .4, 1);
            }

            &:hover {
                color: #ECB880;

                &::before {
                    opacity: 1;
                    transform: scale(1);
                }

                &::after {
                    opacity: 1;
                    transform: scale(1) rotate(0deg);
                }
            }
        }
    }


}

@media(max-width:1000px) {
    .access {
        width: 500px;
        margin: 0 auto;
        padding: 0;
        font-size: 12px;

        &_main {
            grid-template-columns: 1fr;

            &_bullet {
                padding: 2%;
            }
        }

        &_map {
            h2 {
                text-align: center;
                width: 390px;
                padding: 4%;
                box-sizing: border-box;

            }
        }
    }
}

@media(max-width:600px) {
    .access {
        width: 100%;
        max-width: 390px;
        box-sizing: border-box;
    }
}




//footer______________________________________________
@media(max-width:1000px) {
    .footer {
        margin-top: 60vh;
    }
}