@use "sass:math";

//______________________共有CSS__________________________
body {
    background-color: #FFF7E8;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em;
    letter-spacing: 0.2rem;
}

.bg-logo {
    ///背景のたくさんのイラスト
    position: fixed;
    width: 80px;
    opacity: 0.25;
    pointer-events: none;
    z-index: -1;
}

.subtitle {
    color: #A98058;
    font-weight: bold;
    font-size: 40px;
}

img {
    vertical-align: bottom;
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    margin-top: 50px;
    z-index: 999;

    &_text {
        color: #2d1d16;
    }

    &_line {
        position: absolute;
        background: #2d1d16;
        transition: .4s ease;
    }

    &_top {
        width: 150px;
        height: 1px;
        top: 20px;
        left: 20px;
    }

    &_right {
        width: 1px;
        height: 40px;
        bottom: 0;
        right: 40px;
    }

    &_bottom {
        width: 150px;
        height: 1px;
        bottom: 20px;
        right: 20px;
    }

    &_left {
        width: 1px;
        height: 40px;
        top: 0;
        left: 40px;
    }
}

.btn:hover .btn_top {
    transform: translateX(20px);
    width: 220px;
}

.btn:hover .btn_left {
    transform: translateY(20px);
    height: 60px
}

.btn:hover .btn_bottom {
    transform: translateX(-20px);
    width: 220px;
}

.btn:hover .btn_right {
    transform: translateY(-20px);
    height: 60px;
}

//__________________________footer共有CSS__________________________

.footer {
    max-width: 1500px;
    width: 95%;
    margin: 30vh auto 0;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #A98058;
    line-height: 1.5rem;
    position: relative;

    &_logo {
        padding: 0 10%;

        img {
            scale: calc(0.5);
        }
    }

    &_menu {
        padding: 0 20%;
        position: relative;

        ul {
            display: grid;
            row-gap: 50px;
        }

        &::before {
            content: "";
            display: block;
            max-height: 300px;
            height: 100%;
            width: 1px;
            border: solid 0.5px #A98058;
            position: absolute;
            left: 0;
            top: -25px;
        }

        &::after {
            content: "";
            display: block;
            max-height: 300px;
            height: 100%;
            width: 1px;
            border: solid 0.5px #A98058;
            position: absolute;
            right: 10%;
            top: -25px;
        }
    }

    &_other {
        padding: 0 10%;

        p {
            margin: 30px 0;
        }

        &_link {
            display: flex;
            column-gap: 10px;
            margin: 20px 0 40px;
        }
    }

    &_copy {
        color: #A98058;
        text-align: center;
    }
}

//_______________________ローディング__________________________

.loading {
    position: fixed;
    inset: 0;
    background: #FFF2D4;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    &_logo {
        scale: calc(0.6);
        opacity: 0;
    }
}




//_______________________トップページ__________________________

.topbackground {
    background-color: rgba(255, 247, 232, 1);
}

.mainvisual {
    position: relative;
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;


    &_top {
        display: grid;
        grid-template-columns: 5fr 2fr;
        height: 60vh;

        &_img {
            background: url(../images/mainvisual.JPG)no-repeat center center/cover;
            margin: 10%;
        }

        &_logo {
            margin: 40% 30% 30% 10%;
            line-height: 0;

            h1 {
                scale: calc(0.9);
            }


        }
    }

    &_bottom {
        height: 40vh;
        display: grid;
        grid-template-columns: 3fr 5fr;

        &_shopname {
            margin: 30%;
            font-size: 20px;
            color: #2d1d16;
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 48px;
                left: -70px;
                border: solid 1px #2d1d16;
                width: 90px;
                transform: rotate(90deg);
            }
        }

        &_img {
            background: url(../images/mainivisual2.jpg)no-repeat center center/cover;
            margin: 0% 10% 15% 10%;
        }
    }
}


////________________________________About_________________________________
.about {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    padding: 10% 15%;
    color: #3A2C22;
    align-items: center;

    &_text {
        span {
            display: grid;
            grid-template-columns: 1fr 5fr;
            align-items: center;
            column-gap: 20px;

            img {
                scale: calc(0.8);
                rotate: calc(-25deg);

            }
        }

        &_slogan {
            //その子に寄り添う、貸し切りトリミング
            font-size: 25px;
            margin: 70px 0;
            position: relative;

            &::after {
                content: "";
                display: block;
                max-width: 600px;
                width: 200%;
                height: 1px;
                background-color: #b58b67;

                position: absolute;
                left: -80%;
                top: 130%;
            }

        }

        &_description {
            //一組ずつ丁寧に向き合うことで、 お客様一人ひとりのお悩みや理想に 寄り添った施術をご提供しています。 落ち着いた空間と心地よい時間の中で、 特別なひとときをお楽しみください。 大型サロンは少し緊張してしまう 自分だけの空間でゆっくり過ごしたい
            font-size: 16px;
            margin-top: 30px;
        }
    }

    &_photo {
        margin-top: 150px;
        padding: 2%;
        border: solid 1px #A98058;

    }
}


@media (max-width: 700px) {
    .btn {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}



@media (max-width: 1000px) {
    .about {
        padding: 10%;
    }
}

@media (max-width: 800px) {
    .about {
        &_photo {
            margin-top: 30px;
        }

        &_text {
            &_slogan {
                font-size: 20px;
            }

            &_description {
                font-size: 12px
            }
        }
    }
}

@media (max-width: 700px) {
    .about {
        grid-template-columns: 1fr;
        height: auto;

        &_photo {
            background: none;
        }

        &_text {
            &_slogan {
                font-size: 30px;
            }

            &_description {
                font-size: 19px
            }
        }
    }
}


@media (max-width: 470px) {
    .about {
        height: auto;

        &_text {
            &_slogan {
                font-size: 20px;
            }

            &_description {
                font-size: 12px
            }
        }
    }
}

//______________________________menu______________________________

.menu {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    column-gap: 50px;

    &_photo {
        margin: 3% 0 3% 8%;
        border: solid 1px #A98058;
        padding: 1%;
    }

    &_text {
        margin: 5% 0 3% 8%;
    }
}

//______________________________Instagram_____________________________
.instagram {
    height: 80vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30vh 0;


    &_title {
        // Instagram
        font-size: 40px;
        font-weight: bold;
        color: #A98058;
        margin-top: 10vh;
        text-align: center;
        letter-spacing: 0.2rem;
    }

    &_photo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        row-gap: 20px;
        max-width: 1000px;

        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;

        &_item {
            img {
                width: 200px;
                height: 250px;
            }
        }
    }

    .btn {
        display: flex;
        width: 300px;
        margin: 50px auto 0;
    }
}

.header {
    top: 0;
    position: sticky;

}